.et-l .et_pb_row_0_tb_body{
    max-width: 100vw ;
}
.nav-header-green{
    opacity: 1;
    transform: scale(0);
    position: fixed;
    left: 100%;
    top: -100%;
    width: 0;
    height: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-secondary;
    overflow: visible;
    border-radius: 100%;
}
.nav-header{
    opacity: 1;
    transform: scale(0);
    position: fixed;
    left: 100%;
    top: -100%;
    width: 0;
    height: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
    overflow: visible;
    border-radius: 100%;
}
.nav-toggle{ 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .nav-link {
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        color: transparent ;
        opacity: 0;
        background-color: white ;
        -webkit-background-clip: text;
        position: relative;
        left: 600px;
        padding: 10px; 
    }
}

.burger  {
    visibility: hidden;
    position: relative;
    right: -100%;
    opacity:0;
    width: 60px;
    height: 60px;
    z-index: 0;
        path{
            fill:none;
            stroke-linecap: none;
        }
}
.menu-scroll-top{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0%;
    opacity: 1;
}


@media (max-width: 980px){
    .burger  {
        visibility: visible;
        right: 0;
        opacity:1;
    }
    .scene , .scene svg {
        width: 200%;
        padding: 10px;

    }

}
