.section-partenaires{
    .container-partenaires{
        .et_pb_column{
            padding: 20px;
            .et_pb_image{
                .et_pb_image_wrap {
                    display: flex;
                    justify-content: center;
                    img{
                        height: 90px;
                    }
                }
            }
            .et_pb_text {
                font-family: $font-paragraph;
            }
        }
    }
    .container-temoignages{
        display: flex;
        .et_pb_column {
            display: flex;
            flex-flow: wrap;
            .title{
                width: 100%;
                height: auto;
                text-align: center;
                .et_pb_text_inner{
                    h2{
                        margin: 60px;
                    }
                }
            }
            .et_pb_image{
                width: 30px;
                margin: 0;
                display: flex;
                align-items: center;
                height: 100%;
            }
            .et_pb_text{
                width: 60%;
                height: 100%;
                .et_pb_text_inner{
                    p{
                        font-size: 12pt;
                        text-align: center;
                        font-family: $font-paragraph;
                    }
                }
            }
        }   
        
    }
    .container-carrousel{
        .et_pb_column {
            .et_pb_code{
                .et_pb_code_inner{      
                    .carrousel {
                        .slides-carrousel {
                            .slide-item-carrousel {
                                .logo{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 30%;
                                }
                                .text{
                                    display: flex;  
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: flex-start;
                                    h5{
                                        font-size: 20pt;
                                        font-weight: 600;
                                        margin-bottom: 15px;
                                    }
                                    p{
                                        line-height: 1.3;
                                    }
                                    @media (max-width: 980px){
                                        width: 80%;
                                    }                                
                                    @media (min-width: 980px){
                                        width: 50%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}