// Couleur
    //Primary
        $color-primary:#51326E;
        
        $color-primary-variant-eWisteria: #9266BA;
        $color-primary-variant-purpleMountains: #A48CBA;
        $color-primary-variant-portage: #8882F4;
        $color-primary-variant-victoria: #413E75;
    //Secondary
        $color-secondary:#00C5BE; 

        $color-secondary-variant-Burning:#FE7642;
        $color-secondary-variant-Hit:#FFAF8F;
        $color-secondary-variant-Mandy:#E76069;
        $color-secondary-variant-Cognac:#B3471D;

    //ShadesGray
        $color-dark: #000000;
        $color-shark:#252627;
        $color-nevada:#6D7073;
        $color-gray :#AAAEB3;
        $color-alabaster:#F8F8F8;
        $color-white:#FFFFFF; 
// Font
    $font-title :'Raleway', sans-serif;
    $font-paragraph : 'Roboto', sans-serif;